---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/294021?apikey=valid_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '24'
      Akamai-Grn:
      - 0.49ab3717.1703537147.84fd9da4
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-12-25T23:38:00+03:00","EpochTime":1703536680,"WeatherText":"Light
        snow","WeatherIcon":43,"HasPrecipitation":true,"PrecipitationType":"Snow","IsDayTime":false,"Temperature":{"Metric":{"Value":-2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us"}]'
  recorded_at: Mon, 25 Dec 2023 20:45:47 GMT
recorded_with: VCR 6.2.0
